@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Silkscreen&display=swap');
*{
    padding: 0;
    margin:0 ;
    box-sizing: border-box;
  /* guardar esta fuente */
    font-family: 'Aboreto', cursive;
    color: wheat;
    text-shadow: 2px 4px 5px rgba(44, 11, 11, 0.764);
    overflow: hidden;
}

.container{
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgba(134, 89, 6, 0.649);
}
.container .i{
    position: absolute;
    font-weight: 100;
    transform: rotate(-90deg);
    font-weight: 100;
    font-size: 30px;
    z-index: 99;
    left: 3%;
    top: 35%;
    color: rgba(174, 121, 85, 0.678);
    width: fit-content;
}

span{
    font-size: 10px;
}
.left{
    background-color: rgba(44, 32, 22, 0.935);
    width: 50%;
    height: 100vh;
}

.right{
    width: 50%;
    height: 100vh;
    overflow: hidden;
   
}

.right video{
    object-fit:cover;
    width: 100%;   
}

.absolute{
    position: absolute;
    width: 45%;
    height: 80%;
    background-color: rgba(174, 121, 85, 0.272);
    left: 20%;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 13px;
}

.flex_text, .footer{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.left_right{
    display: flex;
    justify-content: space-evenly;
}

.img_name{
    width: 40%;
}

.img_name h1{
   position: absolute;
   top: 40%;
   left: 3%;
   z-index: 999;
}

.img_name h1 span{
    font-size:  33px;
    font-weight:bolder;
    color: rgba(55, 26, 7, 0.88);
}

.img_name img{
    width: 100%;
    filter: grayscale(5);
    transition: .5s ease-in;
}

.img_name img:hover{
    filter: grayscale(0);
}

.text_description{
    width: 35%;
    line-height: 30px;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 1px;
    z-index: 999;
}